.banner {
  color: white;
  background-size: cover;
  padding: 24px 32px;
  height: 65vh;
  background-position: center;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 1px #000000c2;
}
